[Desktop Entry]
Type=Application
Name=Anki Miner
Comment=Japanese vocabulary mining from media
Exec=AnkiMiner
Icon=anki-miner
Categories=Education;Languages;
Terminal=false
StartupWMClass=anki_miner
