[Desktop Entry]
Type=Application
Name=Anki Miner
Comment=Japanese vocabulary mining from media
Exec=/usr/bin/anki-miner
Icon=anki-miner
Categories=Education;Languages;
Terminal=false
StartupWMClass=anki_miner
